.wrapper {
  width: 100%;
}

.arrow {
  margin-left: 10px !important;
}

.list {
  list-style-type: none;
  padding: 5px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  display: none;
}

.toggle {
  width: 100% !important;
}

.btnPressed {
  display: block;
}
